{% extends 'base.html.twig' %}

{% block title %}Compte rendu annuel{% endblock %}

{% block body %}
<div class="achat-container">
    <div class='align-items-center justify-content-center d-flex mt-3 bandeau-form-search'>
        <h5 class="mt-4 ms-3 blueF">Compte rendu annuel</h5>
        <div class="bande ms-3">
        </div>
    </div>
    <div class="form-container action-container">
        <div class="d-flex justify-content-center align-items-center">

            <p class="blueF mt-3">Extraction du compte rendu annuel vers Excel</p>
        </div>

        {{ form_start(form, {'attr': {'class': 'search-form-all align-items-center justify-content-around flex-column d-flex flex-wrap'}})
        }}<div class="input-grp d-flex  p-3">
            {{ form_row(form.date) }}
            {{ form_row(form.jourcalendar) }}
        </div>
                    {{ form_row(form.excel) }}

        {{ form_end(form) }}
                {% if errorMessage is not null %}
            <div class="alert alert-warning" role="alert">
                {{ errorMessage }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}