{% extends 'base.html.twig' %}

{% block title %}Statistic sur les PME (marché MPPA){% endblock %}

{% block body %}

<div class="stat-delay">

    <div class='align-items-center d-flex mt-3 bandeau-form-search'>

        <h5 class="mt-4 ms-3 blueF">Statistic sur les PME (marché MPPA)</h5>
        <div class="bande ms-3">
        </div>
    </div>
    {{ include('statistic/stat_form.html.twig') }}
    <div data-controller="search-achat" class='align-items-center d-flex justify-content-end mt-3 bandeau-form-search'>
        <!-- ... Contenu existant ... -->
        <button id="toggleFormBtn" class="toggle-button" data-action="click->search-achat#collapse"><span
                class="fr-icon-arrow-up-fill" aria-hidden="true"></span></button>
    </div>
    {% if app.request.method == 'POST' %}
    <div class="p-3 font-weight-bold d-flex flex-row justify-content-between">
        <h3 class="  w-50 text-left ">Achats MPPA</h3>
        <div class="" data-controller="pdf-generator-pme">
            <button id="pdf" data-action="click->pdf-generator-pme#downloadgraphBar">Impression</button>
            <button id="ex" data-action="click->pdf-generator-pme#exportTableToExcel">Export to Excel</button>
        </div>
    </div>

    <div data-controller="chartpme">
        <div class="achatsMppa w-25 d-flex p-3">
            <table border="1" id="volvalTable">
                <tr>
                    <th></th>
                    <th>PME</th>
                    <th>%PME</th>
                </tr>
                <tr>
                    <td>VALEUR</td>
                    <td>{{ result_achats[0]["ValeurPME"] }}</td>
                    <td>{{ result_achats[0]["ValeurPercentPME"] }}%</td>
                </tr>
                <tr>
                    <td>VOLUME</td>
                    <td>{{ result_achats[0]["VolumePME"] }}</td>
                    <td>{{ result_achats[0]["VolumePercentPME"] }}%</td>
                </tr>
            </table>
            <canvas id="topVal"></canvas>
            <canvas id="topVol"></canvas>
        </div>
        <div class="achatsMppaMonth ">
            <table border="1" id="actApproTable">
                <tr>
                    <th></th>
                    {% for month in ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
                    <th>{{ month }}</th>
                    {% endfor %}
                    <th>Total</th> {# Ajouter cette colonne pour le total #}
                </tr>
                <tr>
                    <td>NB PME</td>
                    {% set totalNombreAchats = 0 %}
                    {% for achats in result_achatsSum %}
                    <td>{{ achats["nombre_achats"] }}</td>
                    {% set totalNombreAchats = totalNombreAchats + achats["nombre_achats"] %}
                    {% endfor %}
                    <td>{{ totalNombreAchats }}</td> {# Afficher le total dans la première case de la colonne #}
                </tr>
                <tr>
                    <td>% MPPA</td>
                    {% set totalPourcentage = 0 %}
                    {% for achats in result_achatsSum %}
                    <td>{{ achats["pourcentage_achats_pme"] }}</td>
                    {% set totalPourcentage = totalPourcentage + achats["pourcentage_achats_pme"] %}
                    {% endfor %}
                    <td>{{ totalPourcentage / result_achatsSum|length }}</td>
                    {# Calculer et afficher la moyenne dans la case du dessous #}
                </tr>
            </table>
            <div class="chartActContainer" style="position: relative; height:50vh; width:100vw">
                <canvas id="actAppro" data-chartpme-target="actAppro"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    let result_achatsSum = {
        {
            result_achatsSum | json_encode | raw
        }
    };
    let result_achatsSumVol = {
        {
            result_achatsSumVol | json_encode | raw
        }
    };
    let result_achatsSumVal = {
        {
            result_achatsSumVal | json_encode | raw
        }
    };
</script>

{% endif %}
{% endblock %}