{% extends 'base.html.twig' %}

{% block title %}Statistic sur les PME (marché MPPA){% endblock %}

{% block body %}

<div class="stat-delay">

    <div class='align-items-center d-flex mt-3 bandeau-form-search'>

        <h5 class="mt-4 ms-3 blueF">Statistic sur les PME (marché MPPA)</h5>
        <div class="bande ms-3">
        </div>
    </div>
    {{ include('statistic/stat_form.html.twig') }}
    <div data-controller="search-achat" class='align-items-center d-flex justify-content-end mt-3 bandeau-form-search'>
        <button id="toggleFormBtn" class="toggle-button" data-action="click->search-achat#collapse"><span
                class="fr-icon-arrow-up-fill" aria-hidden="true"></span></button>
    </div>
{% if app.request.method == 'POST' %}
{% if result_achats[0]["ValeurPME"]  != 0 %}
    <div class="p-3 font-weight-bold d-flex flex-row ">
<form action="{{ path('app_statistic_pme_export_excel') }}" method="post">
    <input type="hidden" name="result_achats" value="{{ result_achats | json_encode }}">
    <input type="hidden" name="result_achatsSum" value="{{ result_achatsSum | json_encode }}">
    <input type="hidden" name="result_achatsSumVol" value="{{ result_achatsSumVol | json_encode }}">
    <input type="hidden" name="result_achatsSumVal" value="{{ result_achatsSumVal | json_encode }}">
    <button type="submit" class="print">Exporter vers Excel</button>
</form>
        <div class="ms-3" data-controller="pdf-generator-pme">
          <form action="{{ path('pdf_generator_stat_pme') }}" method="post">
            <button type="submit" class="print">Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span></button>
          </form></div>
          <div class="ms-auto" data-controller="pdf-generator-pme">
            <button class="print" id="pdf" data-action="click->pdf-generator-pme#downloadgraphBar">Impression <span class="fr-icon-printer-line" aria-hidden="true"></span></button>
</button>
        
        </div>
    </div>
    <div data-controller="chartpme" class="result-pme mb-5">
        <div class="achatsMppa d-flex flex-row p-3 mb-5" style="display: flex;">
                <div class="table-achat-pme w-25" style="flex: 1;">
                    <h6 class=" blueF ">Achats MPPA</h6>
                    <table border="1" id="volvalTable" >
                        <tr>
                            <thead>
                            <th></th>
                            <th>PME</th>
                            <th>%PME</th>
                            </thead>
                        </tr>
                        <tr>
                            <td>VALEUR</td>
                            <td>{{ result_achats[0]["ValeurPME"] | number_format(2, '.', ' ')}}</td>
                            <td>{{ result_achats[0]["ValeurPercentPME"] | round }}%</td>
                        </tr>
                        <tr>
                            <td>VOLUME</td>
                            <td>{{ result_achats[0]["VolumePME"] }}</td>
                            <td>{{ result_achats[0]["VolumePercentPME"]  | round}}%</td>
                        </tr>
                    </table>
                </div>
                    <div class="top-dep d-flex w-75" style="flex: 2; display: flex;">
                        <div class="graph-top-vol w-50" style="flex: 1; max-height: 150px;">
                            <h6 class=" blueF ">Top 5 Departement MPPA PME en volume</h6>
                            <canvas id="topVol" style="width: 100%; height: 100%;" ></canvas>
                        </div>
                        <div class="graph-top-val w-50" style="flex: 1; max-height: 150px;">
                            <h6 class=" blueF ">Top 5 Departement MPPA PME en valeur</h6>
                            <canvas id="topVal" style="width: 100%; height: 100%;"  ></canvas>
                        </div>

                    </div>
        </div>
        <div class="achatsMppaMonth d-flex flex-column ">
            <div class="title-container justify-content-center align-items-center d-flex">
                <h6 class="blueF">Activité APPRO PME</h6>
            </div>
            <div class="appro-stat d-flex flex-row ">
                <table border="1" id="actApproTable" class="w-25">
                    <tr>
                        <thead>
                        <th></th>
                        {% for month in ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
                        <th>{{ month }}</th>
                        {% endfor %}
                        <th>Total</th> 
                        </thead>
                    </tr>
<tr>
    <td>NB PME</td>
    {% set totalNombreAchats = 0 %}
    {% for month in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] %}
        {% set achatsPMEFound = false %}
        {% for achats in result_achatsSum %}
            {% if achats["mois"] == month %}
                <td>{{ achats["nombre_achats_pme_type_marche_1"] }}</td>
                {% set totalNombreAchats = totalNombreAchats + achats["nombre_achats_pme_type_marche_1"] %}
                {% set achatsPMEFound = true %}
            {% endif %}
        {% endfor %}
        {% if not achatsPMEFound %}
            <td>0</td>
        {% endif %}
    {% endfor %}
    <td>{{ totalNombreAchats }}</td> 
</tr>
                    <tr>
    <td>% MPPA</td>
    {% set totalPourcentage = 0 %}
    {% for month in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] %}
        {% set achatsMPPAFound = false %}
        {% for achats in result_achatsSum %}
            {% if achats["mois"] == month %}
                <td>{{ achats["pourcentage_achats_type_marche_1"] |number_format(0, '.', '') }}</td>
                {% set totalPourcentage = totalPourcentage + achats["nombre_achats_pme"] %}
                {% set achatsMPPAFound = true %}
                
            {% endif %}
        {% endfor %}
        {% if not achatsMPPAFound %}
            <td>0</td>
        {% endif %}
    {% endfor %}
    {# {{dump(result_achatsSum)}} #}
    <td>{{ result_achats[0]["VolumePercentPME"]  | round}}</td>
</tr>
                </table>
                <div class="chartActContainer" style="width: 75%; max-height: 200px;">
                    <canvas id="actAppro" data-chartpme-target="actAppro" style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>  
        </div>
    </div>
</div>
<script>

    let result_achatsSum = {{result_achatsSum | json_encode | raw}};
    let result_achatsSumVol = {{result_achatsSumVol | json_encode | raw}};
    let result_achatsSumVal = {{result_achatsSumVal | json_encode | raw}};
    let criteria = {{toPDF["criteria"] | json_encode | raw}};
</script>

{% else %}
        <div class="alert alert-warning" role="alert">
            Aucun résultat pour cette recherche.
        </div>
    {% endif %}
{% endif %}
</div>

{% endblock %}