{% extends 'base.html.twig' %}

{% block title %}GSBDD index{% endblock %}

{% block body %}
    <h1>GSBDD index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_gsbdd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for g_s_b_d_d in g_s_b_d_ds %}
            <tr>
                <td>{{ g_s_b_d_d.id }}</td>
                <td>{{ g_s_b_d_d.libelleGsbdd }}</td>
                <td>
                    <a href="{{ path('app_g_s_b_d_d_show', {'id': g_s_b_d_d.id}) }}">show</a>
                    <a href="{{ path('app_g_s_b_d_d_edit', {'id': g_s_b_d_d.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_g_s_b_d_d_new') }}">Create new</a>
{% endblock %}
