{% extends 'base.html.twig' %}

{% block title %}Délai activité annuelle{% endblock %}

{% block body %}
<div class="stat-delay">
  <div class='align-items-center d-flex mt-3 bandeau-form-search'>

    <h5 class="mt-4 ms-3 blueF">Délai d'activité annuelle</h5>
    <div class="bande ms-3">
    </div>
  </div>
  {{ include('statistic/stat_form.html.twig') }}
<div data-controller="search-achat" class='align-items-center d-flex justify-content-end mt-3 bandeau-form-search'>
  <button id="toggleFormBtn" class="toggle-button" data-action="click->search-achat#collapse"><span
      class="fr-icon-arrow-up-fill" aria-hidden="true"></span></button>
</div>
{% if app.request.method == 'POST' %}
{% if notStat is not empty %}
    <div class="p-3 font-weight-bold d-flex flex-row ">
<form action="{{ path('app_statistic_delay_export_excel') }}" method="post">
    <input type="hidden" name="achats" value="{{ achats | json_encode }}">
    <input type="hidden" name="achats_delay_all" value="{{ achats_delay_all | json_encode }}">
    <button type="submit" class="print">Exporter vers Excel</button>
</form>
      <div class="ms-3" data-controller="pdf-generator-chartdelay">
          <form action="{{ path('pdf_generator_stat_delay') }}" method="post">


            <button type="submit" class="print">Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span></button>
          </form>
      </div>
    </div>
  <div class="result-delay mb-5">
    <div class="p-3 font-weight-bold d-flex flex-row justify-content-between">
      <h4 class="  blueF ">Délai d'activité annuelle tableau</h4>

    </div>
    <table border=1 id="delayTable" class="delayTable">
      <thead>
        <th>Délai</th>
        <th>Janvier</th>
        <th>Février</th>
        <th>Mars</th>
        <th>Avril</th>
        <th>Mai</th>
        <th>Juin</th>
        <th>Juillet</th>
        <th>Aout</th>
        <th>Septembre</th>
        <th>Octobre</th>
        <th>Novembre</th>
        <th>Decembre</th>
        <th>Total</th>
      </thead>
      {% for achat in achats %}
      <tr>
        <th>{{ achat.source }}</th>
        <td>{{ achat.Janvier|number_format(2, '.', '') }}</td>
        <td>{{ achat.Février|number_format(2, '.', '') }}</td>
        <td>{{ achat.Mars|number_format(2, '.', '') }}</td>
        <td>{{ achat.Avril|number_format(2, '.', '') }}</td>
        <td>{{ achat.Mai|number_format(2, '.', '') }}</td>
        <td>{{ achat.Juin|number_format(2, '.', '') }}</td>
        <td>{{ achat.Juillet|number_format(2, '.', '') }}</td>
        <td>{{ achat.Aout|number_format(2, '.', '') }}</td>
        <td>{{ achat.Septembre|number_format(2, '.', '') }}</td>
        <td>{{ achat.Octobre|number_format(2, '.', '') }}</td>
        <td>{{ achat.Novembre|number_format(2, '.', '') }}</td>
        <td>{{ achat.Decembre|number_format(2, '.', '') }}</td>
        <td>
{{ ((achat.Janvier + achat.Février + achat.Mars + achat.Avril + achat.Mai + achat.Juin + achat.Juillet + achat.Aout + achat.Septembre + achat.Octobre + achat.Novembre + achat.Decembre) / 12)|number_format(2, '.', '') }}
        </td>
      </tr>
      {% endfor %}
      </thead>
      <tbody>
      </tbody>
    </table>


    <div class=" justify-content-center w-100 mw-75 d-flex" data-controller="chartdelay">
      <div class="delay-bar w-50">
        <div class=" p-3 font-weight-bold d-flex flex-row justify-content-between">
          <h4 class=" blueF">Délai d'activié annuelle graphe</h4>
          <div class="" data-controller="pdf-generator-chartdelay">
            <button class="print" id="pdf" data-action="click->pdf-generator-chartdelay#downloadgraphBar">Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span>
    </button>
          </div>
        </div>
        <canvas id="delayChart" data-chartdelay-target="delayChart" > </canvas></div>
      <div class="delay-pie w-50">
      <div class=" p-3 font-weight-bold d-flex flex-row justify-content-between">
            <h4 class="blueF">Délai d'activié anuelle détaillé par traitement</h4>
            <div class="">
              <button id="pdf" class="print" data-action="click->pdf-generator-chartdelay#downloadgraphPie">Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span>
    </button>
            </div>
          </div>
        <div data-controller="pdf-generator-chartdelay" id="chartPie">
          
          <div class="d-flex flex-wrap w-100 align-items-center justify-content-center">
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[0]["source"]}}</p>
              <canvas id="ctxAntenne" data-chartdelay-target="ctxAntenne"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[1]["source"]}}</p>
              <canvas id="ctxBudget" data-chartdelay-target="ctxBudget"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[2]["source"]}}</p>
              <canvas id="ctxAppro" data-chartdelay-target="ctxAppro"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[3]["source"]}}</p>
              <canvas id="ctxFin" data-chartdelay-target="ctxFin"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[5]["source"]}}</p>
              <canvas id="ctxPFAF" data-chartdelay-target="ctxPFAF"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">{{achats_delay_all[4]["source"]}}</p>
              <canvas id="ctxChorus" data-chartdelay-target="ctxChorus"> </canvas>
            </div>
            <div class="w-25 ">
              <p class="text-center">Délai Total</p>
              <canvas id="ctxTotalDelay" data-chartdelay-target="ctxTotalDelay"> </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    let transStat = {{ transStat | map(v => v|number_format(1, '.', '')) | json_encode | raw }};
    let notStat = {{ notStat | map(v => v|number_format(1, '.', '')) | json_encode | raw }};
    let criteria = {{toPDF["criteria"] | json_encode | raw}};
    let achats_delay_all = {{achats_delay_all | json_encode | raw}}
</script>
{% else %}
        <div class="alert alert-warning" role="alert">
            Aucun résultat pour cette recherche.
        </div>
    {% endif %}
{% endif %}
  </div>

{% endblock %}