{% extends 'base.html.twig' %}

{% block title %}Statistiques MPPA/MABC{% endblock %}

{% block body %}

<div class="stat-delay">

    <div class='align-items-center d-flex mt-3 bandeau-form-search'>

        <h5 class="mt-4 ms-3 blueF">Statistiques MPPA/MABC</h5>
        <div class="bande ms-3">
        </div>
    </div>
    {{ include('statistic/stat_form.html.twig') }}
    <div data-controller="search-achat" class='align-items-center d-flex justify-content-end mt-3 bandeau-form-search'>
        <!-- ... Contenu existant ... -->
        <button id="toggleFormBtn" class="toggle-button" data-action="click->search-achat#collapse"><span
                class="fr-icon-arrow-up-fill" aria-hidden="true"></span></button>
    </div>
    {% if app.request.method == 'POST' %}
    <div class="p-3 font-weight-bold d-flex flex-row justify-content-between">
        <div class="" data-controller="pdf-generator-charttype">
            <button class="print" id="pdf" data-action="click->pdf-generator-charttype#downloadgraphBar">Impression <span class="fr-icon-printer-line" aria-hidden="true"></span></button>
            <button class="excel" id="ex" data-action="click->pdf-generator-charttype#exportTableToExcel">Export to Excel<span class="fr-icon-file-download-line" aria-hidden="true"></span>
</button>
        </div>
    </div>
    <div class="typeResult d-flex w-100">
        <div class="tableTotaux p-3 w-25">
                <h6 class="blueF">Statistiques MPPA/MABC tableau</h6>
            <table id="tableTotaux" border=1>
                <tr>
                    <thead>
                        <th></th>
                        <th>MPPA</th>
                        <th>MABC</th>
                        <th>TOTAUX</th>
                    </thead>
                </tr>
                <tr>
                    <td>VALEUR</td>
                    <td>{{result_achats[0]["somme_montant_type_1"]}}</td>
                    <td>{{result_achats[1]["somme_montant_type_0"]}}</td>
                    <td>{{result_achats[0]["somme_montant_type_1"] + result_achats[1]["somme_montant_type_0"]}}</td>
                </tr>
                <tr>
                    <td>NOMBRE</td>
                    <td>{{result_achats[0]["nombre_achats_type_1"]}}</td>
                    <td>{{result_achats[1]["nombre_achats_type_0"]}}</td>
                    <td>{{result_achats[0]["nombre_achats_type_1"] + result_achats[1]["nombre_achats_type_0"]}}</td>
                </tr>
                <tr>
                    <td>MOYENNE</td>
                    <td>{{result_achats[0]["moyenne_montant_type_1"]}}</td>
                    <td>{{result_achats[1]["moyenne_montant_type_0"]}}</td>
                    <td>{{result_achats[0]["moyenne_montant_type_1"] + result_achats[1]["moyenne_montant_type_0"]}}</td>
                </tr>
                <tr>
                    <td>% VALEUR</td>
                    <td>{{result_achats[0]["pourcentage_type_1_total"]}} %</td>
                    <td>{{result_achats[1]["pourcentage_type_0_total"]}} %</td>
                </tr>
                <tr>
                    <td>% VOLUME</td>
                    <td>{{result_achats[0]["pourcentage_type_1"]}} %</td>
                    <td>{{result_achats[1]["pourcentage_type_0"]}} %</td>
                </tr>
            </table>

        </div>
        <div class="graphMount d-flex flex-wrap w-75" data-controller="charttype">
                <div class="graphType w-100 d-flex">
                    <div class="mppaMount p-3 w-50">
                        <h6 class="blueF">Montant des MPPA</h6>
                        <table id="mppaTable" class="mppaTable" border=1>
                            <tr>
                                <th>X <= {{parameter[0].four2}}</th>
                                <th>{{parameter[0].four2}} < X <={{parameter[0].four3}}</th>
                                <th>{{parameter[0].four3}} < X <={{parameter[0].four4}}</th>
                                <th>X > {{parameter[0].four4}}</th>
                            </tr>
                            <tr>
                                <td>{{result_achats_mounts[0]["nombre_achats_inf_four1"]}}</td>
                                <td>{{result_achats_mounts[0]["nombre_achats_four1_four2"]}}</td>
                                <td>{{result_achats_mounts[0]["nombre_achats_four2_four3"]}}</td>
                                <td>{{result_achats_mounts[0]["nombre_achats_sup_four3"]}}</td>
                            </tr>
                        </table>
                        <canvas id="mppaMountChart" data-charttype-target="mppaMountChart"></canvas>
                    </div>
                    <div class="mabcMount p-3 w-50">
                        <h6 class="blueF">Montant des MABC</h6>
                        <table id="mabcTable" border=1 class="mabcTable">
                            <tr>
                                <th>X <= {{parameter[0].four2}}</th>
                                <th>{{parameter[0].four2}} < X <={{parameter[0].four3}}</th>
                                <th>{{parameter[0].four3}} < X <={{parameter[0].four4}}</th>
                                <th>X > {{parameter[0].four4}}</th>
                            </tr>
                            <tr>
                                <td>{{result_achats_mounts[1]["nombre_achats_inf_four1"]}}</td>
                                <td>{{result_achats_mounts[1]["nombre_achats_four1_four2"]}}</td>
                                <td>{{result_achats_mounts[1]["nombre_achats_four2_four3"]}}</td>
                                <td>{{result_achats_mounts[1]["nombre_achats_sup_four3"]}}</td>
                            </tr>
                        </table>
                        <canvas id="mabcMountChart"></canvas>
                    </div>
                    <div class="allMount p-3 w-50">
                        <h6 class="blueF">Montant des MPPA + MABC</h6>
                        <table id="allMountTable" border=1 class="allMountTable">
                            <tr>
                                <th>X <= {{parameter[0].four2}}</th>
                                <th>{{parameter[0].four2}} < X <={{parameter[0].four3}}</th>
                                <th>{{parameter[0].four3}} < X <={{parameter[0].four4}}</th>
                                <th>X > {{parameter[0].four4}}</th>
                            </tr>
                            <tr>
                                <td>{{result_achats_mounts[0]["nombre_achats_inf_four1"] + result_achats_mounts[1]["nombre_achats_inf_four1"]}}
                                </td>
                                <td>{{result_achats_mounts[0]["nombre_achats_four1_four2"] + result_achats_mounts[1]["nombre_achats_four1_four2"]}}
                                </td>
                                <td>{{result_achats_mounts[0]["nombre_achats_four2_four3"] + result_achats_mounts[1]["nombre_achats_four2_four3"]}}
                                </td>
                                <td>{{result_achats_mounts[0]["nombre_achats_sup_four3"] + result_achats_mounts[1]["nombre_achats_sup_four3"]}}
                                </td>
                            </tr>
                        </table>

                        <canvas id="allMountChart" data-charttype-target="allMountChart"></canvas>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    let result_achats_mounts = {{result_achats_mounts | json_encode | raw}};
    let parameter1 = {{parameter[0].four2 | json_encode | raw}};
    let parameter2 = {{parameter[0].four3 | json_encode | raw}};
    let parameter3 = {{parameter[0].four4 | json_encode | raw}};
</script>
{% endif %}
{% endblock %}