  {% extends 'base.html.twig' %}

{% block title %}Activité annuelle en volume et valeur{% endblock %}

{% block body %}
<div class="stat-delay">

    <div class='align-items-center d-flex mt-3 bandeau-form-search'>

      <h5 class="mt-4 ms-3 blueF">Activité annuelle en volume et valeur</h5>
      <div class="bande ms-3">
      </div>
    </div>
    {{ include('statistic/stat_form.html.twig') }}
  {% if app.request.method == 'POST' %}
  {% if counts1 is not empty %}
<div class="result-search-container "data-controller="chartvol">
    <div class=" font-weight-bold d-flex flex-row justify-content-between" >
      <div class="d-flex" data-controller="pdf-generator" >


        <button class="print ms-3" id="pdf" data-action="click->pdf-generator#generatePDFTable" >Imprimer
        <span class="fr-icon-printer-line" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <h3 class="blueF">Activité en volume</h3>
    <table id='tableCheck'>
      <tbody>
        <tr>
        <thead>
          <th>Mois</th>
          {% set totalmppa = 0 %}
          {% set totalmabc = 0 %}
          {% for month, data in purchaseCountByMonth %}
          <td>{{ month }}</td>
          {% set totalmppa = totalmppa + data['count1'] %}
          {% set totalmabc = totalmabc + data['count2'] %}
          {% endfor %}
          <td>Total</td>
          </thead>
        </tr>
        <tr>
          <th>MPPA</th>
          {% for month, data in purchaseCountByMonth %}
          <td>{{ data['count1'] }}</td>
          {% endfor %}
          <td>{{ totalmppa }}</td>
        </tr>
        <tr>
          <th>MABC</th>
          {% for month, data in purchaseCountByMonth %}
          <td>{{ data['count2'] }}</td>
          {% endfor %}
          <td>{{ totalmabc }}</td>
        </tr>
        <tr>
          <th>TOTAL</th>
          {% for month, data in purchaseCountByMonth %}
          <td>{{ data['total'] }}</td>
          {% endfor %}
          <td>{{ totalmppa + totalmabc }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    <h3 class="blueF">Activité en valeur (HT)</h3>
    <table id="volValTable">
      <tbody>
        <tr>
          <thead>
          <th>Mois</th>
          {% set MtMppa = 0 %}
          {% set MtMabc = 0 %}
          {% set count = 0 %}
          {% for month, count in counts1 %}
          <td>{{ month }}</td>
          {% endfor %}
          <td>Total</td>
          </thead>
        </tr>
        <tr>
          <th>MPPA</th>
          {% for month, data in counts1 %}
          {% set MtMppa = MtMppa + data['totalmontant'] %}
          <td>{{ data['totalmontant'] }}</td>
          {% endfor %}
          <td>{{MtMppa}}</td>
        </tr>
        <tr>
          <th>MABC</th>
          {% for month, data in counts2 %}
          {% set MtMabc = MtMabc + data['totalmontant'] %}
          <td>{{ data['totalmontant'] }}</td>
          {% endfor %}
          <td>{{MtMabc}}</td>
        </tr>
        <tr>
          <th>TOTAL</th>
          {% for month, data in purchaseTotalAmountByMonth %}
          <td>{{ data['total'] }}</td>
          {% endfor %}
          <td>{{ MtMppa + MtMabc }}</td>
        </tr>
      </tbody>
    </table>
       <div data-controller="pdf-generator">
      <button class="print" id="pdf" data-action="click->pdf-generator#download" >Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span>
</button>

      </div>
<div class="d-flex w-100" >
   <div class="chartval w-50" >
       <h6 class="blueF">Activité en valeur (HT)</h6>
  <canvas id="myChart2" data-chartvol-target="myChart"  ></canvas>
  </div>
   <div class="chartval ms-5 w-50" >
    <h6 class="blueF">Activité en volume</h6>
  <canvas id="myChart" data-chartvol-target="myChart"  ></canvas>
  </div>

  </div>
  </div>
</div>



</div>
<script>
    let datasets1 = {{ datasets1|json_encode|raw }};
    let datasets2 = {{ datasets2|json_encode|raw }};
    let datasets3 = {{ datasets3|json_encode|raw }};
    let datasets4 = {{ datasets4|json_encode|raw }};
    
</script>

{% endif  %}

    <script>


// Show tooltips always even the stats are zero
    var tableCheck = document.getElementById('tableCheck');
var hiddenElements = document.querySelectorAll('.hidden');

  if(tableCheck){

  hiddenElements.forEach(function(element) {
    element.classList.remove('hidden');
  });  }

    </script>
{% endblock %}