  {% extends 'base.html.twig' %}

  {% block title %}Activité annuelle en volume et valeur{% endblock %}

  {% block body %}
  <div class="stat-delay">

    <div class='align-items-center d-flex mt-3 bandeau-form-search'>

      <h5 class="mt-4 ms-3 blueF">Activité annuelle en volume et valeur</h5>
      <div class="bande ms-3">
      </div>
    </div>
    {{ include('statistic/stat_form.html.twig') }}
    {% if app.request.method == 'POST' %}
    {% if delayVolVal[0]["Achats <= 15 jours"] != 0 %}
    <div class=" font-weight-bold d-flex flex-row justify-content-between">
      <div class="d-flex" data-controller="pdf-generator">
        <form action="{{ path('app_statistic_vol_export_excel') }}" method="post">
          <input type="hidden" name="datasets1" value="{{ datasets1 | json_encode }}">
          <input type="hidden" name="datasets2" value="{{ datasets2 | json_encode }}">
          <input type="hidden" name="datasets3" value="{{ datasets3 | json_encode }}">
          <input type="hidden" name="datasets4" value="{{ datasets4 | json_encode }}">
          <button type="submit" class="print">Exporter vers Excel</button>
        </form>
        <div class="ms-3" data-controller="pdf-generator-chartdelay">
          <form action="{{ path('pdf_generator_stat_vol') }}" method="post">


            <button type="submit" class="print">Imprimer<span class="fr-icon-printer-line" aria-hidden="true"></span></button>
          </form>
        </div>
      </div>
    </div>
    <div class="result-search-container mb-5" data-controller="chartvol">
      {{ include('statistic/stat_vol.html.twig') }}

      

      <div data-controller="pdf-generator">
        <button class="print" id="pdf" data-action="click->pdf-generator#download">Imprimer<span
            class="fr-icon-printer-line" aria-hidden="true"></span>
        </button>

      </div>
      <div class="d-flex w-100">
        <div class="chartval w-50">
          <h6 class="blueF">Activité en valeur ({{ toPDF['criteria']['Taxe'] | upper }})</h6>
          <canvas id="myChart2" data-chartvol-target="myChart"></canvas>
        </div>
        <div class="chartval ms-5 w-50">
          <h6 class="blueF">Activité en volume</h6>
          <canvas id="myChart" data-chartvol-target="myChart"></canvas>
        </div>

      </div>
    </div>
  </div>


  </div>
  <script>
    let datasets1 = {{datasets1 | json_encode | raw}};
    let datasets2 = {{datasets2 | json_encode | raw}};
    let datasets3 = {{datasets3 | json_encode | raw}};
    let datasets4 = {{datasets4 | json_encode | raw}};
    let criteria = {{toPDF["criteria"] | json_encode | raw}};
  </script>
{% else %}
            <div class="alert alert-warning" role="alert">
            Aucun résultat pour cette recherche.
        </div>
{% endif %}

  {% endif  %}

  <script>
    // Show tooltips always even the stats are zero
    var tableCheck = document.getElementById('tableCheck');
    var hiddenElements = document.querySelectorAll('.hidden');

    if (tableCheck) {

      hiddenElements.forEach(function (element) {
        element.classList.remove('hidden');
      });
    }
  </script>
  </div>

  {% endblock %}