{% extends 'base.html.twig' %}

{% block title %}Activité annuelle en volume et valeur{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="title-page mt-5">Activité en volume</h3>
<table border='1'>
  <tbody>
    <tr>
      <th>Mois</th>
      {% set totalmppa = 0 %}
      {% set totalmabc = 0 %}
      {% for month, data in purchaseCountByMonth %}
      <td>{{ month }}</td>
      {% set totalmppa = totalmppa + data['count1'] %}
      {% set totalmabc = totalmabc + data['count2'] %}
      {% endfor %}
      <td>Total</td>
    </tr>
    <tr>
      <th>MPPA</th>
      {% for month, data in purchaseCountByMonth %}
      <td>{{ data['count1'] }}</td>
      {% endfor %}
      <td>{{ totalmppa }}</td>
    </tr>
    <tr>
      <th>MABC</th>
      {% for month, data in purchaseCountByMonth %}
      <td>{{ data['count2'] }}</td>
      {% endfor %}
      <td>{{ totalmabc }}</td>
    </tr>
    <tr>
      <th>TOTAL</th>
      {% for month, data in purchaseCountByMonth %}
      <td>{{ data['total'] }}</td>
      {% endfor %}
      <td>{{ totalmppa + totalmabc }}</td>
    </tr>
  </tbody>
</table>

<h3 class="title-page">Activité en valeur (montant HT)</h3>
<table border='1'>
  <tbody>
    <tr>
      <th>Mois</th>
      {% set MtMppa = 0 %}
      {% set MtMabc = 0 %}
      {% set count = 0 %}
      {% for month, count in counts1 %}
      <td>{{ month }}</td>
      {% endfor %}
      <td>Total</td>  
    </tr>
    <tr>
      <th>MPPA</th>
      {% for month, data in counts1 %}
      {% set MtMppa = MtMppa + data['totalmontant'] %}
      <td>{{ data['totalmontant'] }}</td>
      {% endfor %}
      <td>{{MtMppa}}</td>
    </tr>
    <tr>
      <th>MABC</th>
      {% for month, data in counts2 %}
      {% set MtMabc = MtMabc + data['totalmontant'] %}
      <td>{{ data['totalmontant'] }}</td>
      {% endfor %}
      <td>{{MtMabc}}</td>
    </tr>
    <tr>
      <th>TOTAL</th>
      {% for month, data in purchaseTotalAmountByMonth %}
      <td>{{ data['total'] }}</td>
      {% endfor %}
      <td>{{ MtMppa + MtMabc }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>


{% endblock %}