
  <div class="form-container">
      {{ form_start(form, {'attr': {'class': 'd-flex justify-content-around flex-wrap p-5'}}) }}
      <div class="input-grp-tab d-flex" style="flex-basis:100%;">
          <div class="chronoStat d-flex">
              <div class="chronoY ">
                  {{ form_row(form.date) }}
              </div>
              <div class="chronoJ ">
                  {% if app.request.attributes.get('_route') == 'app_statistic_delay' %}
                  {{ form_row(form.jourcalendar, {'attr': {'class': ""}}) }}
                  <!-- Retire la classe 'hidden' si la condition est vraie -->
                  {% else %}
                  {{ form_row(form.jourcalendar, {'attr': {'class': "hidden"}}) }}
                  <!-- Ajoute la classe 'hidden' si la condition est fausse -->
                  {% endif %}
              </div>
          </div>
      </div>
                {% if app.request.attributes.get('_route') == 'app_statistic_vol' %}
                  {{ form_row(form.etat_achat, {'attr': {'class': ""}}) }}
                  <!-- Retire la classe 'hidden' si la condition est vraie -->
                  {% else %}
                  {{ form_row(form.etat_achat, {'attr': {'class': "hidden"}}) }}
                  <!-- Ajoute la classe 'hidden' si la condition est fausse -->
                  {% endif %}
                  {% if app.request.attributes.get('_route') == 'app_statistic_vol' %}
                  {{ form_row(form.annee_precedente, {'attr': {'class': ""}}) }}
                  <!-- Retire la classe 'hidden' si la condition est vraie -->
                  {% else %}
                  {{ form_row(form.annee_precedente, {'attr': {'class': "hidden"}}) }}
                  <!-- Ajoute la classe 'hidden' si la condition est fausse -->
                  {% endif %}
      <div class="input-grp-tab d-flex flex-wrap justify-content-between" style="flex-basis:100%;">
          {{ form_row(form.code_cpv) }}
          {{ form_row(form.code_formation) }}

          {{ form_row(form.num_siret) }}
          
          {{ form_row(form.code_uo) }}
    <div class="d-flex flex-wrap mt-4 align-items-center">

                {% if app.request.attributes.get('_route') == 'app_statistic_typemarche' %}
    Montant € HT de 
        {{ form_row(form.montant_achat_min) }}
        à
          {{ form_row(form.montant_achat) }}

                {% else %}
                  {{ form_row(form.montant_achat_min, {'attr': {'class': "hidden"}}) }}
                    {{ form_row(form.montant_achat, {'attr': {'class': "hidden"}}) }}
                  <!-- Ajoute la classe 'hidden' si la condition est fausse -->
                  {% endif %}
</div>
          {{ form_row(form.utilisateurs) }}
                </div>

        {% if app.request.attributes.get('_route') == 'app_statistic_delay' %}
        <div class="input-grp-tab d-flex flex-wrap justify-content-between" style="flex-basis:100%">
    {{ form_row(form.delai_transmissions, {'attr': {'class': "fr-input"}, 'label_attr': {'class': 'fr-label'}}) }}
    {{ form_row(form.delai_traitement, {'attr': {'class': "fr-input"}, 'label_attr': {'class': 'fr-label'}}) }}
    {{ form_row(form.delai_notifications, {'attr': {'class': "fr-input"}, 'label_attr': {'class': 'fr-label'}}) }}
    {{ form_row(form.delai_total, {'attr': {'class': "fr-input"}, 'label_attr': {'class': 'fr-label'}}) }}
    </div>
    {% else %}
    <div class="input-grp-tab d-flex flex-wrap justify-content-between">
    {{ form_row(form.delai_transmissions, {'attr': {'class': "hidden"}, 'label_attr': {'class': 'hidden'}}) }}
    {{ form_row(form.delai_traitement, {'attr': {'class': "hidden"}, 'label_attr': {'class': 'hidden'}}) }}
    {{ form_row(form.delai_notifications, {'attr': {'class': "hidden"}, 'label_attr': {'class': 'hidden'}}) }}
    {{ form_row(form.delai_total, {'attr': {'class': "hidden"}, 'label_attr': {'class': 'hidden'}}) }}
    </div>
          {% endif %}
      

      <div class="btn-submit">
          {% if app.request.attributes.get('_route') == 'app_statistic_vol' %}
          {{ form_row(form.tax, {'attr': {'class': ""}}) }}
          <!-- Retire la classe 'hidden' si la condition est vraie -->
          {% else %}
          {{ form_row(form.tax, {'attr': {'class': "hidden"}}) }}
          <!-- Ajoute la classe 'hidden' si la condition est fausse -->
          {% endif %}
          {{ form_row(form.recherche) }}
          {{ form_end(form) }}
      </div>
  </div>
  