  <div class="form-container">
      {{ form_start(form, {'attr': {'class': 'd-flex justify-content-around flex-wrap p-5'}}) }}
      <div class="input-grp-tab d-flex" style="flex-basis:100%;">
          <div class="chronoStat d-flex">
              <div class="chronoY ">
                  {{ form_row(form.date) }}

              </div>
              <div class="chronoJ ">

                  {% if app.request.attributes.get('_route') == 'app_statistic_delay' %}
                  {{ form_row(form.jourcalendar, {'attr': {'class': ""}}) }}
                  <!-- Retire la classe 'hidden' si la condition est vraie -->
                  {% else %}
                  {{ form_row(form.jourcalendar, {'attr': {'class': "hidden"}}) }}
                  <!-- Ajoute la classe 'hidden' si la condition est fausse -->
                  {% endif %}
              </div>
          </div>
      </div>

      <div class="input-grp-tab d-flex flex-wrap justify-content-between" style="flex-basis:100%;">
          {{ form_row(form.code_cpv) }}
          {{ form_row(form.code_formation) }}
          {{ form_row(form.num_siret) }}
          {{ form_row(form.code_uo) }}
          {{ form_row(form.utilisateurs) }}
      </div>

      <div class="btn-submit">
          {% if app.request.attributes.get('_route') == 'app_statistic_vol' %}
          {{ form_row(form.tax, {'attr': {'class': ""}}) }}
          <!-- Retire la classe 'hidden' si la condition est vraie -->
          {% else %}
          {{ form_row(form.tax, {'attr': {'class': "hidden"}}) }}
          <!-- Ajoute la classe 'hidden' si la condition est fausse -->
          {% endif %}
          {{ form_row(form.recherche) }}
          {{ form_end(form) }}
      </div>
  </div>
  