
    
    <h6 class="blueF">Activité en volume</h6>
    <table id='tableCheck'>
            <thead>

        <tr>
          <th>Mois</th>
          {% set totalmppa = 0 %}
          {% set totalmabc = 0 %}
          {% for month, data in VolValStat %}
          <td>{{ month }}</td>
          {% set totalmppa = totalmppa + data['countmppa'] %}
          {% set totalmabc = totalmabc + data['countmabc'] %}
          {% endfor %}
          <td>Total</td>
          </thead>
                <tbody>

        </tr>
        <tr>
          <th>MPPA</th>
          {% for month, data in VolValStat %}
          <td>{{ data['countmppa'] }}</td>
          {% endfor %}
          <td>{{ totalmppa }}</td>
        </tr>
        <tr>
          <th>MABC</th>
          {% for month, data in VolValStat %}
          <td>{{ data['countmabc'] }}</td>
          {% endfor %}
          <td>{{ totalmabc }}</td>
        </tr>
        <tr>
          <th>TOTAL</th>
          {% for month, data in VolValStat %}
          <td>{{ data['countmppa'] + data['countmabc'] }}</td>
          {% endfor %}
          <td>{{ totalmppa + totalmabc }}</td>
        </tr>
        {# Mise en commentaire suite à la reunion précendent avec le client, en attente de confirmation
        à la prochaine réunion
         <tr>
          <th><=15jrs</th>
          {% set total15 = 0 %}
          {% for  data in delayVolVal %}
          <td>{{ data['Achats <= 15 jours'] }}</td>
          {% set total15 = total15 + data['Achats <= 15 jours'] %}
          {% endfor %}
          <td>{{ total15 }}</td>
        </tr>
                <tr>
          <th>15< x <=30</th>
          {% set total1530 = 0 %}
          {% for data in delayVolVal %}
          <td>{{ data['Achats 16-30 jours'] }}</td>
          {% set total1530 = total1530 + data['Achats 16-30 jours'] %}
          {% endfor %}
          <td>{{ total1530 }}</td>
        </tr>
                <tr>
          <th>> 30 jrs</th>
          {% set total30 = 0 %}
          {% for data in delayVolVal %}
          <td>{{ data['Achats > 30 jours'] }}</td>
          {% set total30 = total30 + data['Achats > 30 jours'] %}
          {% endfor %}  
          <td>{{ total30 }}</td>
        </tr> #}
      </tbody>
    </table>
    <h6 class="blueF">Activité en valeur ({{ toPDF['criteria']['Taxe'] | upper }})</h6>
    <table id="volValTable">
              <thead>
        <tr>
          <th>Mois</th>
          {% set MtMppa = 0 %}
          {% set MtMabc = 0 %}
          {% set count = 0 %}
          {% for month, count in VolValStat %}
          <td>{{ month }}</td>
          {% endfor %}
          <td>Total</td>
        </tr>
                  </thead>

              <tbody>

<tr>
    <th>MPPA</th>
    {% set totalMtMppa = 0 %}
    {% for month, data in VolValStat %}
        {% set totalMtMppa = totalMtMppa + data['totalmontantmppa'] %}
        <td>{{ data['totalmontantmppa']|number_format(2, '.', ' ') }}</td>
    {% endfor %}
    <td>{{ totalMtMppa|number_format(2, '.', ' ') }}</td>
</tr>
<tr>
    <th>MABC</th>
    {% set totalMtMabc = 0 %}
    {% for month, data in VolValStat %}
        {% set totalMtMabc = totalMtMabc + data['totalmontantmabc'] %}
        <td>{{ data['totalmontantmabc']|number_format(2, '.', ' ') }}</td>
    {% endfor %}
    <td>{{ totalMtMabc|number_format(2, '.', ' ') }}</td>
</tr>
<tr>
    <th>TOTAL</th>
    {% for month, data in VolValStat %}
        <td>{{ data['totalmotant']|number_format(2, '.', ' ') }}</td>
    {% endfor %}
    <td>{{ (totalMtMppa + totalMtMabc)|number_format(2, '.', ' ') }}</td>
</tr>

      </tbody>
    </table>