<h6 class="blueF">Activité en volume</h6>
<table id='tableCheck'>
    <thead>
        <tr>
            <th>Mois</th>
            {% set totalmppa = 0 %}
            {% set totalmabc = 0 %}
            {% for month, data in toPDF.volValStat.current_year %}
                <td>{{ month }}</td>
            {% endfor %}
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>MPPA (Année en cours)</th>
            {% for month, data in toPDF.volValStat.current_year %}
                <td>{{ data['countmppa']|default(0) }}</td>
                {% set totalmppa = totalmppa + (data['countmppa']|default(0)) %}
            {% endfor %}
            <td>{{ totalmppa }}</td>
        </tr>
        <tr>
            <th>MABC (Année en cours)</th>
            {% for month, data in toPDF.volValStat.current_year %}
                <td>{{ data['countmabc']|default(0) }}</td>
                {% set totalmabc = totalmabc + (data['countmabc']|default(0)) %}
            {% endfor %}
            <td>{{ totalmabc }}</td>
        </tr>
        <tr>
            <th>TOTAL (Année en cours)</th>
            {% for month, data in toPDF.volValStat.current_year %}
                <td>{{ (data['countmppa']|default(0) + data['countmabc']|default(0)) }}</td>
            {% endfor %}
            <td>{{ totalmppa + totalmabc }}</td>
        </tr>
        {% if annee_precedente == 'anneePrecedente' %}
            <tr>
                <th>MPPA (Année Précédente)</th>
                {% set totalmppaPrev = 0 %}
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ data['countmppa']|default(0) }}</td>
                    {% set totalmppaPrev = totalmppaPrev + (data['countmppa']|default(0)) %}
                {% endfor %}
                <td>{{ totalmppaPrev }}</td>
            </tr>
            <tr>
                <th>MABC (Année Précédente)</th>
                {% set totalmabcPrev = 0 %}
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ data['countmabc']|default(0) }}</td>
                    {% set totalmabcPrev = totalmabcPrev + (data['countmabc']|default(0)) %}
                {% endfor %}
                <td>{{ totalmabcPrev }}</td>
            </tr>
            <tr>
                <th>TOTAL (Année Précédente)</th>
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ (data['countmppa']|default(0) + data['countmabc']|default(0)) }}</td>
                {% endfor %}
                <td>{{ totalmppaPrev + totalmabcPrev }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<h6 class="blueF">Activité en valeur ({{ toPDF['criteria']['Taxe'] | upper }})</h6>
<table id="volValTable">
    <thead>
        <tr>
            <th>Mois</th>
            {% for month, count in toPDF.volValStat.current_year %}
                <td>{{ month }}</td>
            {% endfor %}
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>MPPA (Année en cours)</th>
            {% set totalMtMppa = 0 %}
            {% for month, data in toPDF.volValStat.current_year %}
                {% set totalMtMppa = totalMtMppa + (data['totalmontantmppa']|default(0)) %}
                <td>{{ data['totalmontantmppa']|default(0)|number_format(2, '.', ' ') }}</td>
            {% endfor %}
            <td>{{ totalMtMppa|number_format(2, '.', ' ') }}</td>
        </tr>
        <tr>
            <th>MABC (Année en cours)</th>
            {% set totalMtMabc = 0 %}
            {% for month, data in toPDF.volValStat.current_year %}
                {% set totalMtMabc = totalMtMabc + (data['totalmontantmabc']|default(0)) %}
                <td>{{ data['totalmontantmabc']|default(0)|number_format(2, '.', ' ') }}</td>
            {% endfor %}
            <td>{{ totalMtMabc|number_format(2, '.', ' ') }}</td>
        </tr>
        <tr>
            <th>TOTAL (Année en cours)</th>
            {% for month, data in toPDF.volValStat.current_year %}
                <td>{{ (data['totalmontantmppa']|default(0) + data['totalmontantmabc']|default(0))|number_format(2, '.', ' ') }}</td>
            {% endfor %}
            <td>{{ (totalMtMppa + totalMtMabc)|number_format(2, '.', ' ') }}</td>
        </tr>
        {% if annee_precedente == 'anneePrecedente' %}
            <tr>
                <th>MPPA (Année Précédente)</th>
                {% set totalMtMppaPrev = 0 %}
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ data['totalmontantmppa']|default(0)|number_format(2, '.', ' ') }}</td>
                    {% set totalMtMppaPrev = totalMtMppaPrev + (data['totalmontantmppa']|default(0)) %}
                {% endfor %}
                <td>{{ totalMtMppaPrev|number_format(2, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>MABC (Année Précédente)</th>
                {% set totalMtMabcPrev = 0 %}
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ data['totalmontantmabc']|default(0)|number_format(2, '.', ' ') }}</td>
                    {% set totalMtMabcPrev = totalMtMabcPrev + (data['totalmontantmabc']|default(0)) %}
                {% endfor %}
                <td>{{ totalMtMabcPrev|number_format(2, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>TOTAL (Année Précédente)</th>
                {% for month, data in toPDF.volValStat.previous_year %}
                    <td>{{ (data['totalmontantmppa']|default(0) + data['totalmontantmabc']|default(0))|number_format(2, '.', ' ') }}</td>
                {% endfor %}
                <td>{{ (totalMtMppaPrev + totalMtMabcPrev)|number_format(2, '.', ' ') }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
