

    
    <tbody id="achat-list-tbody" class="achat-list-tbody" data-controller="search-achat">
        {% for achat in achats  %}
            <tr class="clickable-row" data-id="{{ achat.id }}" data-action="click->search-achat#attachEventListeners">
                <td>{{achat.numeroAchat}}</td>
                <td>{{achat.dateSaisie|date('d-m-Y')}}</td>
                <td>{{ achat.utilisateurs.trigram }}</td>
                <td>{{ achat.codeFormation.libelleFormation }}</td>
                <td>{{ achat.objetAchat}}</td>
                <td>{{ achat.numSiret.nomFournisseur }}</td>
            {% set montant = achat.montantAchat|replace({'.' : ','}) %}
            {% set parts = montant|split(',') %}
            {% if parts|length > 1 and parts[1]|length == 1 %}
                {% set montant = montant ~ '0' %}
            {% endif %}
            <td>{{ montant ~ (parts|length == 1 ? ',00' : '') }}</td>
            </td>                <td class="etat">
                    {% if achat.etatAchat == 0 %}En cours{% elseif achat.etatAchat == 1 %}Annulé{% elseif achat.etatAchat == 2 %}Validé{% endif %}
                </td>
            </tr>
        {% endfor %}

    </tbody>

