{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
<div class="achat-container">

    <div class='align-items-center justify-content-center d-flex mt-3 bandeau-form-search'>
        <h5 class="mt-4 ms-3 blueF">Gérer les utilisateurs</h5>
        <div class="bande ms-3">
        </div>
    </div>
                    <div class='addAchat mt-5 p-3'>
        <span class="fr-icon-arrow-right-line ms-5" aria-hidden="true"></span>

        <div class=" ms-5 blueF align-items-center justify-content-center d-flex">Saisir un nouveau utilisateur</div>
        <button class="fr-btn btn-achat ms-5"> 
            <a href="{{ path('app_utilisateurs_new') }}" class="text-center">Ajouter un utilisateur</a>
            
        </button>
        {% for flash_message in app.session.flashbag.get('valid') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
        {% endfor %}
    </div>
    <div class="d-flex">
    <div class="w-75">
   <form method="get" action="{{ path('app_utilisateurs_index') }}"class="d-flex flex-column">
   <h6 class="d-flex w-50 blueF mt-3">

        <input type="text" class="w-75 searchcrud" name="search" value="{{ searchTerm }}" placeholder="Rechercher par trigramme ou nom d'utilisateur">
        <button type="submit" class="fr-btn btn-achat">Rechercher</button>
        </h6>
    </form>
    </div>
    <div class="w-25">
     <form method="get" action="{{ path('app_utilisateurs_index') }}" >
        <label for="perPage" class="align-items-center vertical-align-middle justify-content-center d-inline-flex" >Nombre par page:</label>
        <select name="perPage" id="perPage" onchange="this.form.submit()">
            <option value="5" {% if perPage == 5 %}selected{% endif %}>5</option>
            <option value="10" {% if perPage == 10 %}selected{% endif %}>10</option>
            <option value="20" {% if perPage == 20 %}selected{% endif %}>20</option>
            <!-- Ajoutez d'autres options au besoin -->
        </select>
    </form>
    </div>
</div>
    <table >
        <thead>
            <tr>
                <th>Service <a href="{{ path('app_utilisateurs_index', {'sortField': 'code_service_id', 'sortDirection': sortField == 'code_service_id' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></span>
</a></th>
                <th>Nom utilisateur <a href="{{ path('app_utilisateurs_index', {'sortField': 'nom_utilisateur', 'sortDirection': sortField == 'nom_utilisateur' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></a></th>
                <th>Prénom utilisateur <a href="{{ path('app_utilisateurs_index', {'sortField': 'prenom_utilisateur', 'sortDirection': sortField == 'prenom_utilisateur' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></a></th>
                <th>Nom connexion <a href="{{ path('app_utilisateurs_index', {'sortField': 'nom_connexion', 'sortDirection': sortField == 'nom_connexion' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></a></th>
                <th>Trigram <a href="{{ path('app_utilisateurs_index', {'sortField': 'trigram', 'sortDirection': sortField == 'trigram' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></a></th>
                <th>Etat <a href="{{ path('app_utilisateurs_index', {'sortField': 'etat_utilisateur', 'sortDirection': sortField == 'etat_utilisateur' and sortDirection == 'asc' ? 'desc' : 'asc', 'search': searchTerm, 'perPage': perPage}) }}"><span class="fr-icon-filter-line" aria-hidden="true"></a></th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
{% for utilisateur in pagination %}
            <tr>
                <td>{{ utilisateur.codeService.nomService }}</td>
                <td>{{ utilisateur.nomUtilisateur }}</td>
                <td>{{ utilisateur.prenomUtilisateur }}</td>
                <td>{{ utilisateur.nomConnexion }}</td>
                <td>{{ utilisateur.trigram }}</td>
                <td>
    {% if utilisateur.EtatUtilisateur == 1 %}
        Actif
    {% elseif utilisateur.EtatUtilisateur == 0 %}
        Inactif
    {% else %}
        <!-- Gérer les autres cas si nécessaire -->
        {{ utilisateur.EtatUtilisateur }}
    {% endif %}
</td>                
                <td>
                    <a href="{{ path('app_utilisateurs_show', {'id': utilisateur.id}) }}">Voir <span class="fr-icon-eye-line" aria-hidden="true"></span>
</a>
                    <a href="{{ path('app_utilisateurs_edit', {'id': utilisateur.id}) }}">Modifier <span class="fr-icon-draft-line" aria-hidden="true"></span>
</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun fournisseur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



</div>
    <div class="pagination">
        {{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
{% endblock %}
