{% set body_class = body_class|default('') %}


<!doctype html>
<html lang="fr" data-fr-scheme="light">
{% block header %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# <link rel="stylesheet" href="/suiviachats/node_modules/@gouvfr/dsfr/dist/dsfr.min.css"> #}
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    {# <link rel="icon" href="node_modules/@gouvfr/dsfr/dist/utility/icons/icons.css" > #}
    <!-- Modifier les chemins relatifs des favicons en fonction de la structure du projet -->
    <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"> #}
    </script>
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo"> </p>
                            </div>
                            <div class="fr-header__navbar"> <button class="fr-btn--menu fr-btn" data-fr-opened="false"
                                    aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu"> Menu
                                </button> </div>
                        </div>
                        <div class="fr-header__service"> <a href="{{path('app_account')}}" title="Accueil - ">
                                <p class="fr-header__service-title"> Suivi des achats </p>
                            </a>
                        </div>
                    </div>
                    {% if app.user %}
                    <!-- Menu déroulant sur les 2 premiers éléments -->
                    <nav class="fr-nav" id="navigation-773" role="navigation" aria-label="Menu principal">
                        <ul class="fr-nav__list">
                            <li class="fr-nav__item"> <button class="fr-nav__btn" aria-expanded="false"
                                    aria-controls="menu-77"><a class="fr-nav__link" href="{{path('app_search')}}"
                                        target="_self">Achat</a></button>
                            <li class="fr-nav__item"> <button class="fr-nav__btn" aria-expanded="false"
                                    aria-controls="menu-776">Environnement</button>
                                <div class="fr-collapse fr-menu" id="menu-776">
                                    <ul class="fr-menu__list">
                                        <li>{% if is_granted ('ROLE_OPT_FOURNISSEURS') %}
                                            <a class="fr-nav__link" href="{{ path('fournisseurs') }}"
                                                target="_self">Gérer les fournisseurs</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_UO') %}
                                            <a class="fr-nav__link" href="{{path('UO')}}" target="_self">Gérer les
                                                unités organiques</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_FORMATIONS') %}
                                            <a class="fr-nav__link" href="{{path('formations') }}" target="_self">Gérer
                                                les formations</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_CPV') %}
                                            <a class="fr-nav__link" href="{{path('cpv')}}" target="_self">Gérer les
                                                CPV</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_FOURNISSEURS') %}
                                            <a class="fr-nav__link" href="{{path('app_calendar')}}" target="_self">Gérer
                                                le calendrier</a>{% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fr-nav__item"> <button class="fr-nav__btn" aria-expanded="false"
                                    aria-controls="menu-774">Statistiques</button>
                                <div class="fr-collapse fr-menu" id="menu-774">
                                    <ul class="fr-menu__list">
                                        <li>{% if is_granted ('ROLE_OPT_ACTIV_ANNUEL') %}
                                            <a class="fr-nav__link" href="{{path('app_statistic_vol')}}"
                                                target="_self">Activité annuelle en volume
                                                et en valeur</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_DELAI_ANNUEL') %}
                                            <a class="fr-nav__link" href="{{path('app_statistic_delay')}}"
                                                target="_self">Délai activité annuelle</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_STAT_MPPA_MABC') %}
                                            <a class="fr-nav__link" href="{{path('app_statistic_typemarche')}}"
                                                target="_self">Statistiques MPPA/MABC</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_STAT_PME') %}
                                            <a class="fr-nav__link" href="{{path('app_statisticpme')}}"
                                                target="_self">Statistique PME</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_CR_ANNUEL') %}
                                            <a class="fr-nav__link" href="#" target="_self">Compte rendu annuel</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_EXCTRACT_DONNEES') %}
                                            <a class="fr-nav__link" href="#" target="_self">Extraction des données vers
                                                EXCEL</a>{% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_CUMUL_CPV') %}
                                            <a class="fr-nav__link" href="{{ path('cumul_cpv') }}" target="_self">Cumul annuel par CPV</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fr-nav__item"> <button class="fr-nav__btn" aria-expanded="false"
                                    aria-controls="menu-778">Administration</button>
                                <div class="fr-collapse fr-menu" id="menu-778">
                                    <ul class="fr-menu__list">
                                        <li>{% if is_granted ('ROLE_OPT_SERVICES') %}
                                            <a class="fr-nav__link" href="{{ path('service') }}" target="_self">Gérer
                                                les services</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_UTILISATEURS') %}
                                            <a class="fr-nav__link" href="{{path('utilisateurs')}}" target="_self">Gérer
                                                les utilisateurs</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_DROITS') %}
                                            <a class="fr-nav__link" href="{{ path('app_role') }}" target="_self">Gérer
                                                les droits d'accès</a>
                                            {% endif %}
                                        </li>
                                        <li>{% if is_granted ('ROLE_OPT_PARAMETRES') %}
                                            <a class="fr-nav__link" href="{{ path('parameters') }}" target="_self">Modifier les paramètres</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            <ul class="fr-btns-group">

                                <li>
                                    <a class="fr-btn " href="{{path('app_account')}}"><span
                                            class="fr-icon-account-circle-fill" aria-hidden="true"></span>
                                        Mon Compte (
                                        {{ app.user.userIdentifier }}) </a>
                                </li>
                                <li> <a class="fr-btn " href="{{path('app_logout')}}"><span class="fr-icon-lock-fill"
                                            aria-hidden="true"></span>
                                        Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
            <div class="fr-container"> <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                    Fermer </button>
                <div class="fr-header__menu-links"> </div>
            </div>
        </div>
        {% endif %}

    </header>
    </div>
    {% endblock %}
    </div>

</head>


{% block body  %}

{% endblock %}
</body>
{% block footer %}
<footer class="container d-flex justify-content-between">
        <div class="copy d-flex justify-content-center align-items-center">
        <div class="text-center"> SUIVI DES ACHATS. {{ "now"|date("Y") }}</div>
        </div>
        <div class="logo" style="height: 80px;"></div>
  

</footer>
{% endblock %}
</html>