{% extends 'base.html.twig' %}

{% block title %}
Saisir un achat
{% endblock %}

{% block body %}
<div class="achat-container">
    <div class='align-items-center d-flex mt-3 bandeau-form-search'>
        <span class="fr-icon-search-line" aria-hidden="true"></span>

        <h5 class="mt-4 ms-3 blueF">Saisir un achat</h5>
        <div class="bande ms-3">
        </div>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'search-form-all d-flex justify-content-around flex-wrap p-5'}}) }}
        <div class="input-grp" style="flex-basis:33%;">
            <div class="d-flex">
                <div class="w-50 me-3">
                    <label for="achat_search_service_autocomplete">Service</label>
                    {{ form_row(form.code_service)}}
                </div>
                <div class="w-50 me-3">
                    <label for="add_achat_id_demande_achat">ID de la demande d'achat</label>
                    {{ form_row(form.id_demande_achat) }}
                </div>
            </div>
            <label for="add_achat_objet_achat">Objet de l'achat</label>
            {{ form_row(form.objet_achat) }}
            <label for="add_achat_observations">Observations</label>
            {{ form_row(form.observations) }}
            <div class="d-flex">
                <div class="w-50 me-3">
                    <label for="add_achat_date_sillage">Date enregistrement Sillage</label>
                    {{ form_row(form.date_sillage) }}
                </div>
                <div class="w-50 me-3">
                    <label for="add_achat_date_commande_chorus">Date de commande de CF</label>
                    {{ form_row(form.date_commande_chorus) }}
                </div>
            </div>
            <div class="d-flex">
                <div class="w-50 me-3">
                    <label for="add_achat_date_valid_inter">Date validation par le RUO</label>
                    {{ form_row(form.date_valid_inter) }}
                </div>
                <div class="w-50 me-3">
                    <label for="add_achat_montant_achat">Montant de l'achat</label>
                    {{ form_row(form.montant_achat)}}
                </div>
            </div>
        </div>
        <div class="input-grp" style="flex-basis:33%;">

            <label for="add_achat_num_siret_autocomplete">N° SIRET</label>
            {{ form_row(form.num_siret) }}
            <label for="add_achat_code_uo_autocomplete">Unité organique</label>
            {{ form_row(form.code_uo) }}
            <label for="add_achat_code_cpv_autocomplete">CPV</label>
            {{ form_row(form.code_cpv) }}
            {# <label for="add_achat_code_cpv_autocomplete">CPV</label>
        {{ form_row(form.code_cpv_id) }} #}
            <label for="add_achat_code_formation_autocomplete">Formation</label>
            {{ form_row(form.code_formation) }}
            <label for="add_achat_tva_ident">TVA</label>
            {{ form_row(form.tva_ident)}}
        </div>
        <div class="input-grp" style="flex-basis:33%;">
            {{ form_row(form.place) }}
            {{ form_row(form.devis)}}
            {{ form_row(form.type_marche)}}

        </div>
        <div class="sub-btn d-flex justify-content-between align-items-centers">
            {{ form_row(form.Valider) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}