        {% extends 'base.html.twig' %}

        {% block title %}
        Saisir un achat
        {% endblock %}

        {% block body %}
        <div class="achat-container" data-controller="add-achat">
            <div class='align-items-center d-flex mt-3 bandeau-form-search'>
                <span class="fr-icon-search-line" aria-hidden="true"></span>
                <h5 class="mt-4 ms-3 blueF">Saisir un achat</h5>
                <div class="bande ms-3"></div>
            </div>
            <div class="form-container">
                {{ form_start(form, {'attr': {'class': 'search-form-all d-flex justify-content-around flex-wrap p-5'}}) }}
                <div class="input-grp" style="flex-basis:33%;">
                    <div class="d-flex">
                        <div class="w-50 me-3">
                            <label for="achat_search_service_autocomplete">Service</label>
                            {{ form_row(form.code_service) }}
                        </div>
                        <div class="w-50 me-3">
                            <label for="add_achat_id_demande_achat">ID de la demande d'achat</label>
                            {{ form_row(form.id_demande_achat) }}
                        </div>
                    </div>
                    <div class="d-flex">
                        {# <div class="w-50 me-3">
                            <label for="add_achat_date_sillage">Date enregistrement Sillage</label>
                            {{ form_row(form.date_sillage, {'attr': {'data-add-achat-target': 'dateSillage'}}) }}
                        </div> #}
                        <div class="w-50 me-3">
                            <label for="add_achat_date_commande_chorus">Date de création CF</label>
                            {{ form_row(form.date_commande_chorus, {'attr': {'data-add-achat-target': 'dateCommandeChorus'}}) }}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50 me-3">
                            <label for="add_achat_date_valid_inter">Date de la dernière validation intermédiaire</label>
                            {{ form_row(form.date_valid_inter, {'attr': {'data-add-achat-target': 'dateValidInter'}}) }}
                        </div>
        <div class="w-50 me-3">
            <label for="add_achat_montant_achat">Montant de l'achat (HT)</label>
            {{ form_row(form.montant_achat, {'attr': {'data-add-achat-target': 'montantAchat'}}) }}
            <span id="montant-tcc"></span>
        </div>
                    </div>
                    <label for="add_achat_objet_achat">Objet de l'achat</label>
                    {{ form_row(form.objet_achat) }}
                    <label for="add_achat_observations">Observations</label>
                    {{ form_row(form.observations) }}
                </div>
                <div class="input-grp" style="flex-basis:33%;">
                    <label for="add_achat_num_siret_autocomplete">N° SIRET</label>
                    {{ form_row(form.num_siret) }}
                    <label for="add_achat_code_uo_autocomplete">Unité organique</label>
                    {{ form_row(form.code_uo) }}
                    <div>
                        <label for="add_achat_code_cpv_autocomplete">CPV</label>
                        {{ form_row(form.code_cpv) }}
                    </div>  
                    <label for="add_achat_code_formation_autocomplete">Formation</label>
                    {{ form_row(form.code_formation) }}
                    <label for="add_achat_tva_ident">TVA</label>
                    {{ form_row(form.tva_ident) }}
                    {{ form_errors(form.tva_ident) }}
                </div>
        <div class="input-grp" style="flex-basis:33%;">
            {{ form_row(form.type_marche, {'attr': {'data-add-achat-target': 'typeMarche'}}) }}
            <div data-add-achat-target="numeroMarche" class="form-group hidden">
                {{ form_row(form.numero_marche) }}
            </div>
            <div data-add-achat-target="numeroEjMarche" class="form-group hidden">
                {{ form_row(form.numero_ej_marche) }}
            </div>
        </div>

                
                <div class="sub-btn d-flex justify-content-between align-items-centers">
                    {{ form_row(form.Valider, {'attr': {'data-add-achat-target': 'submitButton'}}) }}
                    {{ form_row(form.Fermer) }}

                    {{ form_end(form) }}

                </div>
            </div>
    <!-- Modale pour la validation de l'achat -->
<div id="validationModal" class="modal-custom" style="display: none;">
    <div class="modal-content-custom">
        <span class="close" id="closeValidationModal">&times;</span>
        <h5>Justificatif DA</h5>

        <!-- Sélecteur, visible par défaut -->
        <select id="validationSelect" class="form-control">
            <option value="">Sélectionnez une option</option>
            {% for justif in justifs %}
                <option value="{{ justif.id }}">{{ justif.libelleJustif }}</option>
            {% endfor %}
        </select>
        <input type="text" id="customValidationInput" placeholder="Ou saisissez une nouvelle option..." class="form-control mt-2">

        <!-- Table pour les devis, cachée par défaut -->
        <table id="justificationTable" class="table" style="display: none;">
            <thead>
                <tr>
                    <th></th> <!-- Colonne vide pour les titres des lignes -->
                    <th>Candidats</th>
                    <th>Montant HT</th>
                    <th>Observation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Devis 1</th>
                    <td><input type="text" name="candidat_devis1" class="form-control"></td>
                    <td><input type="text" name="montant_ht_devis1" class="form-control"></td>
                    <td><input type="text" name="observation_devis1" class="form-control"></td>
                </tr>
                <tr>
                    <th scope="row">Devis 2</th>
                    <td><input type="text" name="candidat_devis2" class="form-control"></td>
                    <td><input type="text" name="montant_ht_devis2" class="form-control"></td>
                    <td><input type="text" name="observation_devis2" class="form-control"></td>
                </tr>
                <tr>
                    <th scope="row">Devis 3</th>
                    <td><input type="text" name="candidat_devis3" class="form-control"></td>
                    <td><input type="text" name="montant_ht_devis3" class="form-control"></td>
                    <td><input type="text" name="observation_devis3" class="form-control"></td>
                </tr>
            </tbody>
        </table>

        <!-- Case à cocher "non mise en concurrence", cachée par défaut -->
        <div id="nonConcurrenceContainer" class="form-check mt-2" style="display: none;">
            <input class="form-check-input" type="checkbox" id="nonConcurrenceCheckbox">
            <label class="form-check-label" for="nonConcurrenceCheckbox">
                Non mise en concurrence
            </label>
        </div>

        <!-- Sélecteur pour les justificatifs de non mise en concurrence, caché par défaut -->
        <div id="justifNonConcurrenceSelectContainer" style="display: none;">
            <label for="justifNonConcurrenceSelect">Justificatif de non mise en concurrence</label>
            <select id="justifNonConcurrenceSelect" class="form-control">
                <option value="">Sélectionnez un justificatif</option>
                {% for justif in justifsSup20000 %}
                    <option value="{{ justif.id }}">{{ justif.libelleJustif }}</option>
                {% endfor %}
            </select>
                    <input type="text" id="customValidationInputSup" placeholder="Ou saisissez une nouvelle option..." class="form-control mt-2">

        </div>

        <div class="modal-footer">
            <button type="button" id="confirmValidation" class="btn btn-primary">Valider</button>
            <button type="button" id="cancelValidation" class="btn btn-secondary">Annuler</button>
        </div>
    </div>
</div>


                {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flash_message | nl2br }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('valid') %}
                <div class="alert alert-success">
                    {{ flash_message | nl2br }}
                </div>
            {% endfor %}
        </div>
        {% endblock %}


