{# {% extends 'base.html.twig' %}


{% block body %}


    {{ include('achat/tab_achat.html.twig') }}


</div>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Valider ou notifier  un achat{% endblock %}

{% block body %}
    <h2 class="title-page mt-5">Valider ou notifier un achat</h2>
<div class="visu-container">
<div class="search-form-add modif">
    <div class="input-grp">
    <label for="ser">Service</label>
    <input type="text" id ="ser" value="{{result_achat.codeService}}" disabled>
    <label for="cpv">CPV</label>
    <input type="text" id ="cpv" value="{{result_achat.codeCPV}}" disabled>
    <label for="cpv">Montant autorisé</label>
    <input type="text" id ="cpv" value="90000" disabled>
    <label for="cpv">Computation</label>
    <input type="text" id ="cpv" value="{{result_achat.codeCPV.mtCpv}}" disabled>
    <label for="cpv">Reliquat</label>
    <input type="text" id ="cpv" value="{{90000 - result_achat.codeCPV.mtCpv}}" disabled>
</div>
        <div class="input-grp">
    <label for="mtn">Montant achat HT</label>
    <input type="text" id ="mtn" value="{{result_achat.montantAchat}}" disabled>
    {{ form_start(form) }}
    <div class="input-grp">
                    <label for="val">Date de validation</label>
                    <input size="15" type="text" id="valbox" name="val"
                        value="{{result_achat.dateValidation | join ('') | date("Y/m/d")}}">
                    <label for="val">Date de notification</label>
                    <input size="15" type="text" id="notbox" name="not"
                        value="{{result_achat.dateNotification | join ('') | date("Y/m/d")}}">
                    <label for="val">Numero EJ</label>
                    <input size="20" type="text" id="ejbox" name="ej" value="{{result_achat.numeroEj | join ('')}}"
                        required>
                </div>
        </div>

</div>
            {{ form_start(form) }} {# Démarrez le formulaire #}
{{ form_end(form) }} {# Terminez le formulaire #}
{% for flash_message in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flash_message }}
    {% endfor %}
</div>
</div>

{% endblock %}