{% extends 'base.html.twig' %}
{% block title %}Detail de l'achat pour validation {% endblock %}

{% block body %}
<div class="achat-container search-form">
    <h2 class="title-page">Valider un achat</h2>

    <div class="input-grp">
        <label for="ach">Acheteur</label>
        <input size="20" type="text" id="ach" name="" value="{{visu_achat.utilisateurs.trigram}}" disabled>
        <label for="ser">Service</label>
        <input size="20" type="text" id="ser" name="" value="{{visu_achat.codeService}}" disabled>
        <label for="obj">Objet de l'achat</label>
        <input size="20" type="text" id="obj" name="" value="{{visu_achat.objetAchat}}" disabled>
    </div>
    <div class="input-grp">
        <label for="cpv">CPV</label>
        <input size="35" type="text" id="cpv" name="" value="{{visu_achat.codeCPV}}" disabled>
        <label for="mtauto">Montant autorisé</label>
        <input size="20" type="text" id="mtauto" name="" value="90000" disabled>
        <label for="comp">Computation</label>
        <input size="20" type="text" id="comp" name="" value="{{visu_achat.montantAchat}}" disabled>
    </div>
        <div class="input-grp">
            <label for="rel">Reliquat</label>
            <input size="20" type="text" id="rel" name="" value="{{ 90000- visu_achat.montantAchat}}" disabled>
            <form action="{{ path('valid_query', { 'id': visu_achat.id}) }}" method="POST">
                <div class="input-grp">
                    <label for="val">Date de validation</label>
                    <input size="15" type="text" id="valbox" name="val"
                        value="{{visu_achat.dateValidation | join ('') | date("Y/m/d")}}">
                    <label for="val">Date de notification</label>
                    <input size="15" type="text" id="notbox" name="not"
                        value="{{visu_achat.dateNotification | join ('') | date("Y/m/d")}}">

                    <label for="val">Numero EJ</label>
                    <input size="20" type="text" id="ejbox" name="ej" value="{{visu_achat.numeroEj | join ('')}}"
                        required>
                </div>
                <div class="input-grp">
                    <input class="fr-btn" type="submit" value="Valider" />
                </div>
            </form>
        </div>
</div>
        {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
        {% endfor %}
        {% endblock %}