{% extends 'base.html.twig' %}

{% block title %}Cumul annuel des montants par CPV{% endblock %}

{% block body %}
<div class="achat-container">
    <div class='align-items-center justify-content-center d-flex mt-3 bandeau-form-search'>
        <h5 class="mt-4 ms-3 blueF">Cumul annuel des montants par CPV</h5>
        <div class="bande ms-3">
        </div>
    </div>
    <div class="form-container action-container">
        {{ form_start(form, {'attr': {'class': 'search-form-all align-items-center justify-content-around flex-column d-flex flex-wrap'}})}}
        <div class="input-grp d-flex w-100 justify-content-around">
            {{ form_row(form.date) }}
            {{ form_row(form.alertValue) }}
        </div>
        <div class="sub-btn d-flex justify-content-center align-items-center mt-5">
        {{ form_row(form.recherche) }}
    </div>
        {{ form_end(form) }}

    </div>
    {% if result_cpv is not empty %}

    {# {% if app.request.method == 'POST' %} #}
    {% if result_cpv | length == 0 %}
    <h4>Aucun résultat pour votre recherche.</h4>
    {% else %}
    <div class="cumulcpv d-flex flex-column align-items-center">
    <div id="achat-list"class="mt-3">
        <table border="1" id="tab-result-cpv" class="cumul-cpv-table">
            <thead class="position-sticky">
                <tr>
                    <th class="position-sticky">CPV</th>
                    <th class="position-sticky">Mt. achats traités</th>
                    <th class="position-sticky">Montant total</th>
                    <th class="position-sticky">Montant autorisé</th>
                    <th class="position-sticky">Reliquat</th>
                </tr>
            </thead>
                        {{ include('cumul_cpv/partial_results.html.twig') }}

   

    </table>

 </div>
        <form action="{{ path('pdf_generator_cpv') }}" method="post">
    {# <input type="hidden" name="date" value="{{ form.date | json_encode }}">
    <input type="hidden" name="alertValue" value="{{ form.alertValue | json_encode }}"> #}

    <button type="submit" class="fr-btn align-item-center mt-5">Imprimer</button>
</form> 
</div>
    {% endif %}
    {% endif %}


</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let offset = 7; // Commencer après les premiers résultats initialement chargés
    const limit = 7;
    const tbody = document.getElementById('achat-list-tbody');
    const tableContainer = document.getElementById('achat-list');

    tableContainer.addEventListener('scroll', function() {
                    console.log("test");
        if (tableContainer.scrollTop + tableContainer.clientHeight+1 >= tableContainer.scrollHeight) {
            fetch(`/cumulcpv?offset=${offset}&limit=${limit}`, { 
                headers: { 'X-Requested-With': 'XMLHttpRequest' } 
            })
            .then(response => response.text())
            .then(html => {
                tbody.insertAdjacentHTML('beforeend', html);
                offset += limit; // Augmenter l'offset pour la prochaine requête
            })
            .catch(error => console.error('Erreur:', error));
        }
    });
});
</script>
{% endblock %}